html {
    height: 100%;
}
body {
    background-image: url('./Images/background.svg');
    background-size: cover;
    padding: 5%;
    height: 100%;
    width:50%;
    overflow:hidden;
    margin:auto;
    font-family: Mulish, sans-serif;
}
.container {
    flex-grow:1;
    max-height: 70%;
    border: 20px solid transparent;
    border-image: linear-gradient(45deg, #AF1281 , #424579);
    border-image-slice: 1;
    padding: 3%;
    width:45%;
    margin: auto auto;
}
.heading {
    font-size: x-large;
    line-height:1;
    font-weight: 900;
    width:100%;
    margin-left: 20%;
    position:relative;
}
.tagline {
    line-height:2.5;
    font-size:small;
    margin-left: 19%;
    position:relative;
}
.labels {
    font-size: small;
    line-height:2.5;
    font-weight: 600;
    margin-left: 5%;
}
.input {
    line-height:2em;
    font-size:small;
    width:90%;
    margin-left:5%;
}
.button {
    font-size:small;
    font-weight:600;
    height:40px;
    width:60%;
    border:none;
    background: linear-gradient(45deg,#9969C7,#A3A3FF);
    border-radius: 25px;
    color:white;
    margin-left:20%;
}
.footer {
    font-size:small;
    text-align:center;
    line-height:1;
    margin-left:35%;
}